.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}
.header__navbar--list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
}

.header__navbar-item-has-qr:hover .header__qr {
    display: block; /* Show QR code on hover */
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-item,
.header__navbar-item-link ,
.header__navbar--icon-link {
    display: inline-block /* Ensure items are inline */;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar--icon-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block  /* Add a separator after each item */;
    position: absolute;
    border: 1px solid #FB9086;
    height: 12px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar--icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-item-title--no-pointer {
    cursor: text; /* Prevent pointer cursor for this item */
    color: var(--white-color);
}

/* QR Code Section */
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 100%;
    padding: 8px;
    border-radius: 2px;
    display: none;
}

.header__qr::before {
    content: "";
    position: absolute;
    left: 20px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--white-color);
    display: block /* Triangle pointing upwards */;
    animation: fadeIn .3s ease-in;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qc-link:nth-child(1) {
    margin-left: 11px;
}

.header__qc-link:nth-child(2) {
    margin-right: 11px;
}

.header-download-img {
    height: 14px;
}

/* Header Notification */
.header__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
}
.header__notify-header {
    height: 40px;
    background-color: var(--white-color);

}    

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__notify-list {
    padding-left: 0;

}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}

.header__notify--viewed {
    border-top: 1px solid #F0F0F0;
    background-color: var(--primary-color-rgba);
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding-left: 12px;
    text-decoration: none;
}

.header__notify-img {
 width: 48px;
 object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.6rem;
}

.header__notify-footer {
    text-align: center;
}
.header__notify-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 4px 16px;
}